@font-face {
  font-family: "Exmouth";
  src: url("fonts/exmouth_.ttf");
}

body {
  font-family: Exmouth;
  background-color: #212227;
}

#container {
  /* height: 100vh; */
  width: calc(100vh * 0.56);
  background-color: #212227;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 136px;
}

.bg {
  height: 100vh;
  max-width: calc(100vh * 0.56);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 75%),
    -1px 0px 15px 0px rgb(0 0 0 / 75%);
}

.first-article {
}

.welcome {
  position: relative;
  font-size: 6rem;
  text-align: center;
  color: #efbd7b;
  line-height: 1;
}
.main-names {
  font-size: 8rem;
}

@keyframes arrow-shadow {
  from {
    box-shadow: 5px 5px 5px 3px #c2734b;
  }
  to {
    box-shadow: 5px 5px 30px 3px #c2734b;
  }
}
.button-container {
  position: relative;
  z-index: 1;
}
.button-container .button {
  border: 0;
  font-size: 6rem;
  position: fixed;
  background: #f0bd7b;
  color: #131419;
  border-radius: 100%;
  padding: 20px;
  margin: 25px;
  box-shadow: 5px 5px 30px 3px #c2734b;
  animation-name: arrow-shadow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.button-container .next-button {
  bottom: 0;
  right: 0;
}
.button-container .prev-button {
  bottom: 0;
  left: 0;
}
.button-container .info-button {
  bottom: 0;
  left: 200px;
}
.button-container .locate-button {
  bottom: 0;
  right: 200px;
}
.button-container i {
  padding: 0 6px;
}
.button-container .info-button i {
  padding: 0 30px;
}
.button-container .locate-button i {
  padding: 0 12px;
}

/* Couple*/

@keyframes couple-icon {
  0% {
    transform: rotate(0deg) translate(-5px, -5px);
  }
  50% {
    transform: rotate(15deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(0deg) translate(10px, -5px);
  }
}
.couple-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.couple-container img {
  /* width: 300px; */
  position: relative;
  border-radius: 100%;
  margin: 20px;
  border: 3px solid #f0bd7b;
  box-shadow: 1px 1px 15px 5px #f0bd7b52;
}
.couple-container img.icon {
  border-radius: 0;
  width: 150px;
  border: 0;
  margin: 0;
  box-shadow: none;
}
img.couple-animated {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 0;
  width: 150px;
  border: 0;
  margin: 0;
  box-shadow: none;
  animation-name: couple-icon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

@keyframes rainbow-border {
  0% {
    border-color: #9400d3;
  }
  15% {
    border-color: #4b0082;
  }
  30% {
    border-color: #0000ff;
  }
  50% {
    border-color: #00ff00;
  }
  65% {
    border-color: #ffff00;
  }
  80% {
    border-color: #ff7f00;
  }
  100% {
    border-color: #ff0000;
  }
}
