@font-face {
  font-family: "Exmouth";
  src: url("fonts/exmouth_.ttf");
}

body {
  font-family: Exmouth;
}

#container {
  height: 100vh;
  background-color: #032616;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 75%),
    -1px 0px 15px 0px rgb(0 0 0 / 75%);
}

.first-article {
}

.welcome {
  position: relative;
  font-size: 4rem;
  text-align: center;
  color: #efbd7b;
}
.main-names {
  font-size: 8rem;
}
