@font-face {
  font-family: "Exmouth";
  src: url("fonts/exmouth_.ttf");
}
@font-face {
  font-family: "Vollkorn";
  src: url("fonts/Vollkorn-Italic-VariableFont_wght.ttf");
}

@keyframes rainbow-color {
  0% {
    color: #9400d3;
  }
  15% {
    color: #4b0082;
  }
  30% {
    color: #0000ff;
  }
  50% {
    color: #00ff00;
  }
  65% {
    color: #ffff00;
  }
  80% {
    color: #ff7f00;
  }
  100% {
    color: #ff0000;
  }
}

body {
  font-family: Exmouth;
  background-color: #212227;
}

#container {
  /* height: 100vh; */
  width: calc(100vh * 0.56);
  background-color: #212227;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 136px;
}
#welcome-page #container {
  align-items: center;
  height: 100%;
  margin-bottom: 0;
}

.bg {
  height: 100%;
  max-width: calc(100vh * 0.56);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 1px 0px 15px 0px rgb(0 0 0 / 75%),
    -1px 0px 15px 0px rgb(0 0 0 / 75%);
}

.first-article {
}

.welcome {
  position: relative;
  font-size: 6rem;
  text-align: center;
  color: #efbd7b;
  line-height: 1.5;
}
.main-names {
  font-size: 8rem;
}

@keyframes arrow-shadow {
  from {
    box-shadow: 5px 5px 5px 3px #c2734b;
  }
  to {
    box-shadow: 5px 5px 30px 3px #c2734b;
  }
}
.button-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
.button-container .button {
  border: 0;
  font-size: 6rem;
  background: #f0bd7b;
  color: #131419;
  border-radius: 100%;
  padding: 20px;
  margin: 25px;
  box-shadow: 5px 5px 30px 3px #c2734b;
  animation-name: arrow-shadow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.button-container .party-button.animated {
  animation-name: rainbow-color;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.button-container i {
  padding: 0 6px;
}
.button-container .info-button i {
  padding: 0 30px;
}
.button-container .locate-button i {
  padding: 0 12px;
}
.button-container .party-button i {
  font-size: 80px;
  padding: 8px;
}

/* Welcome */

#welcome-page {
  font-family: "Pacifico", "Vollkorn", cursive;
}

/* Couple*/

@keyframes couple-icon {
  0% {
    transform: rotate(0deg) translate(-5px, -5px);
  }
  50% {
    transform: rotate(15deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(0deg) translate(10px, -5px);
  }
}

@keyframes photo-flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.couple-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.couple-container img {
  position: relative;
  border-radius: 100%;
  margin: 20px;
  border: 3px solid #f0bd7b;
  box-shadow: 1px 1px 15px 5px #f0bd7b52;

  animation-name: photo-flip;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.couple-container img.icon {
  border-radius: 0;
  width: 150px;
  border: 0;
  margin: 0;
  box-shadow: none;
}
img.couple-animated {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 0;
  width: 150px;
  border: 0;
  margin: 0;
  box-shadow: none;
  z-index: 1;
  animation-name: couple-icon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

/* Venue */
@keyframes venue-card {
  from {
    transform: rotate3d(1, 1, 0, 0deg) translate(0px, 0px);
    box-shadow: none;
  }
  to {
    transform: rotate3d(1, 1, 0, 31deg) translate(10px, 44px);
    box-shadow: 20px -20px 3px 3px #6e3535;
  }
}
#venue-page {
  font-family: "Be Vietnam Pro", sans-serif;
}
#venue-page .first-article {
  margin-top: 100px;
}
#venue-page .first-article .address {
  background-color: #f0bd7bdb;
  font-size: 4rem;
  color: #191a20;
  position: relative;
  margin: 25px;
  text-align: center;
  border-radius: 30px;
  animation-name: venue-card;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.address {
  padding: 20px;
}
.address i.fas {
  font-size: 6rem;
  color: #191a20;
  margin: 10px;
  padding: 10px;
}
.address .card-title {
  font-size: 6rem;
  text-align: left;
}
.address .card-body {
  font-size: 4rem;
  text-align: left;
  border-top: 1px solid #191a20;
  border-bottom: 1px solid #191a20;
}
.address .card-button {
  font-size: 6rem;
  text-align: center;
}
